* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #6832a8;
    position: sticky;
    top: 0;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li {
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .6s ease;
}

.navbar ul li a:hover {
    background-color: black;
    color: #03fc1c;
}

#home {
    display: flex;
    flex-direction: column;
    background-color: #5628a1;
    height: 700px;
    justify-content: center;
    align-items: center;
    color: white;
}

.main{
    display: flex;
    flex-direction: column;
    border: none;
    align-items: center;
}

.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}

.imagem-perfil{
    border-radius: 50%;
}

#about{
    display: flex;
    flex-direction: column;
    background-color: #5628a1;
    color: white;
    height: 300px;
}

.text-box{
    border: 10px inset #6832a8;
    padding: 20px;
}

.text{
    font-family: sans-serif;
    font-size: 1.1rem;
    
}

#hobbies{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5628a1;
    color: white;
    height: 600px;

}

.galeria{
    display: flex;
    justify-content: space-around;
}

.galeria img{
    
}